* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Inter;
}

body{
    background-color: hsl(233, 47%, 7%);
    display: grid;
    place-items: center;
    height: 100vh;

}

img{
    width: 100%;
    height: auto;
    background: red;
    background-size: cover;
        
}

.card{
    width: 75%;
    /* min-height: auto; */
    display: grid;
    grid-template-columns: 0.08fr 1fr 0.08fr 1fr;
    grid-template-rows: 1fr ;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
    overflow: hidden;

}

.text{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
}

.description{
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 90px;
    font-size: 15px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0px;
    line-height: 30px;
}

.bold{
    font-weight: bold;
    font-size: 30px;
    
}

.upper{
    text-transform: uppercase;
    font-size: 15px;
    
}

.purple{
    color: #A069CE;
}


